/*-- CSS page HW9 -->
<!-- Project Name: JavaJam Web Site (HW9)
Author: Emilie Blecker
Date Last Modified: 3/31/2019*/

body
{
    color: #221811; 
    background-color: #fcebb6;
    font-family:arial;
    /*font-style:bold;
    text-align: center;
    line-height: 200%;
    list-style-position: inside;*/

}

header
{
    background-color:#d2b48c;
    text-align: center;
}

h1
{
    line-height: 200%;
}

nav
{
    font-weight: bold;
    text-align: center;
}

footer
{
    background-color: #d2b48c;
    font-size: .60em;
    font-style: italic;
    text-align: center;
}
 
#wrapper
{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}